default_shell "zsh"

keybinds clear-defaults=true {
  normal {
    bind "Ctrl t" { SwitchToMode "Tmux"; }
  }
  tmux {
    bind "Ctrl g" {                        SwitchToMode "Normal"; }
    bind "-"      { NewPane   "Down";      SwitchToMode "Normal"; }
    bind "\\"     { NewPane   "Right";     SwitchToMode "Normal"; }
    bind "j"      { MoveFocus "Down";      SwitchToMode "Normal"; }
    bind "k"      { MoveFocus "Up";        SwitchToMode "Normal"; }
    bind "h"      { MoveFocus "Left";      SwitchToMode "Normal"; }
    bind "l"      { MoveFocus "Right";     SwitchToMode "Normal"; }
    bind "o"      { FocusNextPane;         SwitchToMode "Normal"; }
    bind "c"      { NewTab    "c";         SwitchToMode "Normal"; }
    bind "n"      { GoToNextTab;           SwitchToMode "Normal"; }
    bind "p"      { GoToPreviousTab;       SwitchToMode "Normal"; }
    bind "x"      { CloseFocus;            SwitchToMode "Normal"; }
    bind "Space"  { NextSwapLayout;                               }

    bind "f"      { SwitchToMode "Pane";                       }
    bind "r"      { SwitchToMode "Resize";                     }
    bind "s"      { SwitchToMode "Scroll";                     }
    bind "Ctrl s" { SwitchToMode "EnterSearch"; SearchInput 0; }
    bind "m"      { SwitchToMode "Move";                       }
  }
  scroll {
    bind "Ctrl g" { SwitchToMode "Normal";                     }
    bind "/"      { SwitchToMode "EnterSearch"; SearchInput 0; }
    bind "j"      { ScrollDown;                                }
    bind "k"      { ScrollUp;                                  }
    bind "Ctrl f" { PageScrollDown;                            }
    bind "Ctrl b" { PageScrollUp;                              }
  }
  resize {
    bind "Ctrl g" { SwitchToMode "Normal";   }
    bind "h"      { Resize "Increase Left";  }
    bind "j"      { Resize "Increase Down";  }
    bind "k"      { Resize "Increase Up";    }
    bind "l"      { Resize "Increase Right"; }
    bind "H"      { Resize "Decrease Left";  }
    bind "J"      { Resize "Decrease Down";  }
    bind "K"      { Resize "Decrease Up";    }
    bind "L"      { Resize "Decrease Right"; }
    bind "="      { Resize "Increase";       }
    bind "-"      { Resize "Decrease";       }
  }
  pane {
    bind "Ctrl g" {                            SwitchToMode "Normal"; }
    bind "z"      { TogglePaneFrames;          SwitchToMode "Normal"; }
    bind "f"      { ToggleFocusFullscreen;     SwitchToMode "Normal"; }
    bind "w"      { ToggleFloatingPanes;       SwitchToMode "Normal"; }
    bind "e"      { TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }
  }
  move {
    bind "Ctrl g" {                    SwitchToMode "Normal"; }
    bind "n"      { MovePane;                                 }
    bind "p"      { MovePaneBackwards;                        }
    bind "h"      { MovePane "Left";                          }
    bind "j"      { MovePane "Down";                          }
    bind "k"      { MovePane "Up";                            }
    bind "l"      { MovePane "Right";                         }
  }
  entersearch {
    bind "Ctrl g" {                        SwitchToMode "Normal"; }
    bind "Ctrl c" {                        SwitchToMode "Scroll"; }
    bind "Enter"  { SwitchToMode "Search";                        }
  }
  search {
    bind "Ctrl g" {                 SwitchToMode "Normal";      }
    bind "/"      {                 SwitchToMode "EnterSearch"; }
    bind "n"      { Search "down";                              }
    bind "N"      { Search "up";                                }
    bind "Ctrl f" { PageScrollDown;                             }
    bind "Ctrl b" { PageScrollUp;                               }
    bind "j"      { ScrollDown;                                 }
    bind "k"      { ScrollUp;                                   }
    bind "c"      { SearchToggleOption "CaseSensitivity";       }
    bind "w"      { SearchToggleOption "Wrap";                  }
    bind "o"      { SearchToggleOption "WholeWord";             }
  }
}

theme "gruvbox-dark"

default_layout "compact"

ui {
  pane_frames {
    hide_session_name true
    rounded_corners true
  }
}

